
.dice{
    display:flex;
    border: 2px solid black;
    height:200px;
    width: 200px;
    flex-wrap: wrap;
    border-radius: 15%;
    background-color: red;
}
.dot{
    background-color: white;
    height:30%;
    width: 30%;
    border-radius: 50%;
    text-align:center;
    margin:auto;
}
.hide{
    visibility: hidden;
}
main{
    width:80%;
    margin:auto;
    background-color: aquamarine;
}
section{
    display: flex;
    margin:0 auto;
    justify-content: space-evenly;

}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    width: 30%;
    border:3px solid black;
    text-align: center;
    margin:10px auto;
    background-color: rgb(255, 60, 60);
}
h3:hover{
    background-color: white;
}
