/*table{
    border: 3px solid black;
    height: 200px;
    width: 200px;
    border-radius: 15%;
}
td{
    border: 3px solid black;
    border-radius: 100% ;
    background-color: red;
}
h1{
    width: 20%;
    margin: auto;
    text-align: center;
}
#dice1{
    float: left;
}
#dice2{
    float:right;
}
div{
    margin:auto;
    width: 30%;
}
h3{
    width: 20%;
    margin: auto;
    text-align: center;
}
.invisilble{
    visibility:hidden;
}
*/
.dice{
    display:flex;
    border: 2px solid black;
    height:200px;
    width: 200px;
    flex-wrap: wrap;
    border-radius: 15%;
}
.dot{
    background-color: red;
    height:30%;
    width: 30%;
    border-radius: 50%;
    text-align:center;
    margin:auto;
}
.hide{
    visibility: hidden;
}
section{
    display: flex;
    width:50%;
    margin:0 auto;
    justify-content: space-evenly;

}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    width: 30%;
    border:3px solid black;
    text-align: center;
    margin:10px auto;
    background-color: rgb(255, 60, 60);
}
h3:hover{
    background-color: white;
}